<div class="page-header">
  <a mat-icon-button routerLink="/dashboard/jobs" class="back-btn" matTooltip="Back">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <h1 class="page-title">Add Job Application</h1>
</div>

<mat-card class="form-card">
  <mat-card-content>
    <form [formGroup]="scrapeForm" (ngSubmit)="onScrapeSubmit()" novalidate class="job-form">
      @if (scrapeErrorMessage() !== "") {
        <div class="error-banner">
            <mat-icon>error_outline</mat-icon>
            <span>{{ scrapeErrorMessage() }}</span>
          </div>
      }
      <div>LinkedIn Job Scraper</div>
      <span>Paste a linkedIn job posting to auto fill information (experimental)</span>
      <mat-form-field appearance="outline" class="full-width mat-form-pad-top-10px">
          <mat-label>LinkedIn URL</mat-label>
          <input matInput formControlName="url" type="url" placeholder="https://..." />
          <mat-icon matPrefix>link</mat-icon>
          @if (scrapeForm.get('url')?.hasError('required') && scrapeForm.get('url')?.touched) {
            <mat-error>Job URL is required for scraping</mat-error>
          }
        </mat-form-field>
      <div class="form-row">
        

        <!-- <mat-form-field appearance="outline" class="mat-form-pad-top-10px">
          <mat-label>Source</mat-label>
          <mat-select formControlName="source">
            @for (src of jobSourceUrl; track src) {
              <mat-option [value]="src.value">{{src.label}}</mat-option>
            }
          </mat-select>
        </mat-form-field> -->
      </div>
      <div class="form-row-scraper-btn">
        <button mat-raised-button color="primary" type="submit" [disabled]="scrapeForm.invalid || loading()">
          @if (loading()) {
            <mat-spinner diameter="20" />
          } @else {
            Scrape & Pre-Fill
          }
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<mat-card class="form-card mt-1">
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate class="job-form">
      <div class="form-row">
        <mat-form-field appearance="outline" class="mat-form-pad-top-10px">
          <mat-label>Company</mat-label>
          <input matInput formControlName="companyName" />
          <mat-icon matPrefix>business</mat-icon>
          @if (form.get('companyName')?.hasError('required') && form.get('companyName')?.touched) {
            <mat-error>Company is required</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="mat-form-pad-top-10px">
          <mat-label>Position / Role</mat-label>
          <input matInput formControlName="jobTitle" />
          <mat-icon matPrefix>work_outline</mat-icon>
          @if (form.get('jobTitle')?.hasError('required') && form.get('jobTitle')?.touched) {
            <mat-error>Position is required</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="outline" class="mat-form-pad-top-10px">
          <mat-label>Location</mat-label>
          <input matInput formControlName="location" placeholder="Remote, City, etc." />
          <mat-icon matPrefix>place</mat-icon>
          @if (form.get('location')?.hasError('required') && form.get('location')?.touched) {
            <mat-error>Location is required</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="mat-form-pad-top-10px">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            @for (opt of statusOptions; track opt.value) {
              <mat-option [value]="opt.value">{{ opt.label }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="outline" class="mat-form-pad-top-10px">
          <mat-label>Applied Date</mat-label>
          <input matInput formControlName="appliedDate" [matDatepicker]="picker" />
          <mat-icon matPrefix>event</mat-icon>
          <mat-datepicker-toggle matSuffix [for]="picker" />
          <mat-datepicker #picker />
        </mat-form-field>

        <mat-form-field appearance="outline" class="mat-form-pad-top-10px">
          <mat-label>Salary (optional)</mat-label>
          <input matInput formControlName="salary" placeholder="e.g. $80,000 – $100,000" />
          <mat-icon matPrefix>payments</mat-icon>
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Job URL (optional)</mat-label>
        <input matInput formControlName="url" type="url" placeholder="https://..." />
        <mat-icon matPrefix>link</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Tags</mat-label>
        <mat-chip-grid #chipGrid formControlName="tags">
          @for (tag of tagsControl?.value; track tag) {
              <mat-chip-row (removed)="removeTag(tag)">
                {{ tag }}
                <button matChipRemove><mat-icon>cancel</mat-icon></button>
              </mat-chip-row>
            }
          </mat-chip-grid>
           <input 
            placeholder="New tag..."
            [matChipInputFor]="chipGrid"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="addTag($event)" />
            <mat-icon matPrefix>tag</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Notes (optional)</mat-label>
        <textarea matInput formControlName="notes" rows="4" placeholder="Recruiter name, interview tips, etc."></textarea>
      </mat-form-field>

      @if (errorMessage()) {
        <div class="error-banner">
          <mat-icon>error_outline</mat-icon>
          <span>{{ errorMessage() }}</span>
        </div>
      }

      <div class="form-actions">
        <button type="reset" mat-stroked-button [disabled]="loading()">
          @if (loading()) {
            <mat-spinner diameter="20" />
          } @else {
            Reset
          }
        </button>
        <button type="submit" matButton="filled" [disabled]="loading() || form.invalid">
          @if (loading()) {
            <mat-spinner diameter="20" />
          } @else {
            Add Job
          }
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

